.title.black-swan h1 {
  font-family: 'Cormorant Upright';
}

.cinzel-blue {
  font-family: 'Cinzel Decorative';
  color: #5C73A2;
}

.youtube-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note.black-swan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 20%;
}

.note.black-swan p {
  transform: rotate(-4deg);
  color: #a6a5ff;
  font-family: "Reenie Beanie";
  font-size: 25px;
  color: #a6a5ff;
  width: 60%;
  text-align: center;
  margin-top: -16px;
}

.layout {
  display: flex;
  gap: 1rem;
  height: 400px;
}

.gallery-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.gallery-layout img {
  height: 450px;
}

.video-divisor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-divisor video {
  width: 100%;
}

.colors.no-border.black-swan {
  gap: 0;
}

.tipography.no-border.black-swan .cinzel-font {
  font-family: 'Cinzel Decorative';
}

.tipography.no-border.black-swan .cormorant-font {
  font-family: 'Cormorant Upright';
}

.tipography.no-border.black-swan p {
  font-family: 'Barlow Condensed';
}