.gallery-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 4%;
}

.gallery-layout div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-layout div p {
  text-align: center;
  font-family: 'Reenie Beanie';
  color: #A6A5FF;
  font-size: 22px;
}

.gallery-layout img {
  width: 100%;
}

.colors.no-border {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.tipography.no-border {
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}

.tipography.no-border .italiana-font {
  font-family: 'Italiana';
  font-size: 36px;
}

.design.small video {
  width: 70%;
}

.github {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.github img {
  width: 80%;
}

.github img:hover {
  opacity: 0.5;
}