.title.bebas h1 {
  font-family: 'Bebas Neue';
  font-size: 46px;
}

.bebas-title {
  color: #F5B0C1;
}

.tipography.bebas p{
  font-family: 'Bebas Neue';
  font-size: 36px;
} 

.design.small video {
  width: 70%;
  border: 2px dashed #E4E4E4;
}

.inspiration-item.big p {
  font-size: 24px;
  color: #A6A5FF;
}