@import url("https://fonts.googleapis.com/css2?family=Chango&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  line-height: 28px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  text-decoration: none;
  color: #0a0a0a;
}

.skoob-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skoob-container .banner {
  width: 100%;
  height: calc(100vh);
  background-image: url(/assets/projetos/skoob/background.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.skoob-container .banner .banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skoob-container .banner-content .header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.skoob-container .banner-content .header p {
  font-family: "Work Sans";
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: #fff;
  opacity: 50%;
  text-align: right;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  width: 100%;
}

.carousel {
  position: relative;
  width: 800px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  position: absolute;
  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
  cursor: pointer;
}

.item img {
  width: 260px;
  object-fit: cover;
}

.item.active {
  transform: scale(1.15) translateX(0);
  z-index: 10;
}

.item.center {
  transform: translateX(0) scale(1.15);
  z-index: 3;
}

/* LADOS */
.item.left,
.item.right {
  transform: translateX(var(--offset)) scale(0.9);
  z-index: 2;
}

/* EXTREMIDADES */
.item.far-left,
.item.far-right {
  transform: translateX(var(--offset)) scale(0.75);
  z-index: 1;
}

.nav {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.nav:hover {
  background: rgba(255, 255, 255, 0.16);
}

.caption {
  margin-top: 48px;
  padding: 8px 16px;
  background: #005178;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
}

.caption span {
  font-family: "Work Sans";
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.skoob-container .text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  gap: 24px;
  width: 100%;
}

.skoob-container .text.blue {
  background-color: #005178;
  border-radius: 50px 50px 0 0;
}

.skoob-container .text p,
.skoob-container .text b {
  color: #0a0a0a;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 60%;
}

.skoob-container .text.blue p,
.skoob-container .text.blue b {
  color: #fff;
}

.skoob-container .text b {
  font-weight: 600;
}

.note {
  position: relative;
}

.note-content {
  background-color: #005178;
  border-radius: 50px;
  padding: 12px 40px;
}

.skoob-container .note .note-content p {
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.skoob-container .note img {
  position: absolute;
  right: -55px;
  top: -5px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title.left {
  align-items: self-start;
  width: 60%;
}

.skoob-container .title p {
  background-color: #0a0a0a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 50px;
  width: fit-content;
  margin-top: -6px;
  transform: rotate(-2.567deg);
}

.cards-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  border-radius: 24px;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  height: 283px;
}

.card.one {
  background-color: #748caf;
}

.card.two {
  background-color: #74afa5;
}

.card.three {
  background-color: #b28b97;
}

.card h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  max-width: 80%;
}

.card img {
  position: absolute;
  right: -20px;
  top: 0;
}

.problem {
  background-color: #f4f4f4;
  border-radius: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px;
}

.problem.big {
  gap: 60px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.row div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.row img {
  max-width: 100%;
  height: auto;
  flex: 1 1 250px;
  object-fit: contain; 
}

.problem .row p {
  color: #fff;
  font-style: italic;
  font-weight: 700;
  transform: rotate(-1.884deg);
  padding: 8px 16px;
  border-radius: 50px;
  background: #005178;
  text-align: center;
  width: fit-content;
  margin-top: -30px;
}

.problem .gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.problem .gallery img {
  flex-grow: 1;
}

.note.bottom p {
  margin-bottom: -40px;
  margin-top: 0;
  width: 70%;
  transform: rotate(1.88deg);
}