.portfolio-title-meus {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.3;
}

.portfolio-title-projetos {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.3;
}

.portfolio-title-projetos2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: -50px;
}

.portfolio-title-meus img {
  margin-top: 120px;
  width: 40%;
}

.portfolio-title-projetos img {
  width: 55%;
  margin-top: 80px;
}

.portfolio-title-projetos2 img {
  width: 30%;
}

.portfolio-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 10px;
}

.portfolio-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 80px;
  opacity: 0.5;
}

.portfolio-down img {
  cursor: pointer;
  width: 50px;
}

.portfolio-down img:hover {
  width: 53px;
}

.projects {
  display: flex;
  max-width: 100vw;
  height: 110vh;
  background-color: #0E0D0B;
  margin-top: -90px;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 6%;
  padding-top: 150px;
  align-items: center;
}

.project-container img {
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 60px;
}

.project-container img:hover {
  opacity: 0.6;
}

.project-container p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
}

.subtitle {
  font-size: 12px !important;
  line-height: 10px;
}

@media only screen and (max-width: 1024px) {
  .portfolio-title-meus img {
    width: 60%;
    margin-top: 200px;
  }

  .portfolio-title-projetos img {
    width: 80%;
  }

  .portfolio-title-projetos2 img {
    width: 45%;
    margin-bottom: 120px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 110vh;
    background-color: #0E0D0B;
    margin-top: -90px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 30px;
    padding-top: 100px;
    align-items: center;
  }

  .project-container:nth-child(1) {
    padding-top: 220px;
  }
  
  .project-container p {
    font-size: 20px;
  }
  
  .subtitle {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 500px) {
  .portfolio-title-meus img {
    margin-top: 160px;
    width: 65%;
  }

  .portfolio-title-projetos img {
    width: 85%;
    margin-top: 50px;
  }

  
  .portfolio-title-projetos2 {
    margin-top: -20px;
  }

  .portfolio-title-projetos2 img {
    width: 45%;
  }

  .portfolio-title {
    width: 90%;
    font-size: 40px;
    margin-left: 25px;
  }
  
  .portfolio-down img {
    width: 40px !important;
  }

  .portfolio-down img:hover {
    width: 43px;
  }

  .project-container {
    width: 80%;
    margin-left: 7px;
    padding-top: 80px;
  }

  .project-container:nth-child(1) {
    padding-top: 170px;
  }
  
  .project-container p {
    font-size: 15px;
    margin-left: 60px;
  }
  
  .subtitle {
    font-size: 12px !important;
    line-height: 5px;
  }
}